# eRemote Server by Celeratec
# https://github.com/Celeratec/eremote-server
# Based on RustDesk Server

version: '3'

networks:
  eremote-net:
    external: false

services:
  hbbs:
    container_name: eremote-hbbs
    ports:
      - 21115:21115
      - 21116:21116
      - 21116:21116/udp
      - 21118:21118
    image: 752681609007.dkr.ecr.us-east-1.amazonaws.com/eremote-server:latest
    # TODO: Replace YOUR_SERVER_IP_OR_DOMAIN with your actual server IP or domain
    # Example: command: hbbs -r remote.celeratec.com:21117
    command: hbbs -r YOUR_SERVER_IP_OR_DOMAIN:21117
    volumes:
      - ./data:/root
    networks:
      - eremote-net
    depends_on:
      - hbbr
    restart: unless-stopped

  hbbr:
    container_name: eremote-hbbr
    ports:
      - 21117:21117
      - 21119:21119
    image: 752681609007.dkr.ecr.us-east-1.amazonaws.com/eremote-server:latest
    command: hbbr
    volumes:
      - ./data:/root
    networks:
      - eremote-net
    restart: unless-stopped
